h1 {
    background :linear-gradient(black,gray);
    color :white;
    text-shadow:yellow 1px 0 10px;
}
h2 {
    background :linear-gradient(0.7turn,white,yellow);
}
p {
    border-bottom :solid;
    border-bottom-color :red;
    color:Indigo;
}
@media (hover:hover){
    a:hover {
        background:hotpink;
    }
}