h2 { 
    background : linear-gradient(blue,white);
    
}
li {
    border-bottom : solid;
    border-bottom-color :white;
    background-color :lightblue;
}
img.sign {
    width :20px;
    height :20px;
}